body 
{
	font-family: Helvetica;
	background-color: #E5E7EB;
}

h1 
{
	font-weight: bold;
	font-size: 30px;
}

h2
{
	text-align: left;
	color: #4375F9;
	font-size: 25px;
	font-style: italic;
}

/* This did not work in centering the image
img
{
	position: absolute;
    top: 0; bottom:0; left: 0; right:0;
    margin: auto;
}
I also tried using class="center", but didn't work too
*/

ol 
{
	font-family: Helvetica;
	color: black;
}

ul
{
	font-family: Helvetica;
	color: black;
}

/* Why did this not work?
.indexheading
{
	font-size: 25px;
	font-style: italic;
	text-align: center;
}
*/

#resume 
{
	text-align: left;
	font-size: 20px;
}

#bio 
{
	font-size: 20px;
	text-align: center;
}

.bioemph
{
	font-weight: bold;
	font-style: italic;
}

.center
{
	text-align: center;
}
