body 
{
	font-family: Helvetica;
	background-color: #E5E7EB;
}

h1 
{
	text-align: center;
	font-weight: bold;
	font-size: 65px;
}

h2
{
	color: #4375F9;
	font-size: 40;
	font-style: italic;
}

p 
{
	color: black;
}

#indexheading
{
	text-align: center;
	font-size: 45px;
	font-style: italic;
}

#resume 
{
	font-size: 25px;
}

#bio 
{
	font-size: 30px;
}

.bioemph
{
	font-weight: bold;
	font-style: italic;
}
